#booktitle {  
  border-bottom: 1px solid #EEEEEE; 
}

header {  
  position: fixed;
  background-color: white;
  z-index: 1;
}

article {  
  padding-top: 80px; 
}

body, p, li, dt, dd {  
  font-size: 18px; 
  line-height: 1.5 ; 
} 

pre {
  font-size: 15px;
  line-height: 1.5; 
}

.example.twopane pre {
  width: 45%;
  float:left; 
}

pre.left {  
  border-right: 1px #ddd dashed ; 
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
pre.right {  
  border-left: none; 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
