<%= render 'header' %>

	<!-- body -->
	<article id="body" class="row">
		
		<div class="span8">
		
			<% if @item[:title] %>
                          <div class="page-header">
				<h2 class="title"><a name="slide-0"></a><%= @item[:title] %></h2>
                                <a href="<%= @item.rep_named(:slide).path %>">als Präsentation ▻</a>
                          </div>
			<% end %>
			
			<%= yield %>
		
			<%= render 'article_footer' %>
		</div>
		
		<%= render 'sidebar' %>
		
	</article>
	<!-- /body -->

<%= render 'footer' %>
