<%= render 'header' %>

<!-- body -->
	<article class="row">

		<div class="span8">

			<% if @item[:title] %>
                          <div class="page-header">
                                <h2 class="title"><%= @item[:title] %></h2>
                          </div>
			<% end %>

			<%= yield %>

                        <h3>In diesem Kapitel</h3>

                        <%= render 'chapter_contents' %>

                        <%= render 'article_footer' %>


		</div>

		<%= render 'sidebar' %>

	</article>
<!-- /body -->

<%= render 'footer' %>
