
  <div class="row">
    <div class="span12" id="legal">
        <p class="copyright">Copyright &copy; 2011 by <a href="#">Brigitte Jellinek</a>.<br /><span class="sponsor-line"></p>
    </div>
  </div>

</div> <!-- class="container" -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/libs/jquery-1.6.4.min.js"%3E%3C/script%3E'))</script>
<script>
  $(document).ready(function(){
    $('ul.nav ul.sub').hide();
    $('ul.nav li.active ul.sub').show();
  });
</script>
</body> 
</html>
