
  <div class="row">
    <div class="span12" id="legal">
        <p class="copyright">veröffentlicht unter <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/at/deed.de">creative commons by-nc-sa</a> im Jahr 2012 von <a href="#">Brigitte Jellinek</a>.
        <p>Zum Weiterentwickeln dieser Seite: <a href="https://github.com/bjelline/web-development-textbook/fork_select">Projekt forken</a> oder <a href="https://github.com/bjelline/web-development-textbook/blame/master/<%= @item[:filename] %>">kommentar zu dieser seite</a></p>

</p>
    </div>
  </div>

</div> <!-- class="container" -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/libs/jquery-1.6.4.min.js"%3E%3C/script%3E'))</script>
<script>
  $(document).ready(function(){
    $('ul.nav ul.sub').hide();
    $('ul.nav li.active ul.sub').show();
  });
</script>
</body> 
</html>
