
  <div class="row">
    <div class="span12" id="legal">
        <p class="copyright">veröffentlicht unter <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/at/deed.de">creative commons by-nc-sa</a> im Jahr 2012 von <a href="#">Brigitte Jellinek</a>.
        <p>Zum Weiterentwickeln dieser Seite: <a href="https://github.com/bjelline/web-development-textbook/fork_select">Projekt forken</a> oder <a href="https://github.com/bjelline/web-development-textbook/blob/master/<%= @item[:filename] %>">kommentar zu dieser seite</a></p>

</p>
    </div>
  </div>

</div> <!-- class="container" -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/libs/jquery-1.6.4.min.js"%3E%3C/script%3E'))</script>
<script src="/assets/js/bootstrap.js?v=1"></script>
<script src="/assets/js/prettify.js?v=1"></script>
<script src="/assets/js/libs/modernizr-1.5.min.js?v=1"></script>
<script>
  $(document).ready(function(){
    function save_state(){
      var stored = "";
      $('ul.nav > li').each(function(i,e){
        if( $(e).find("i").attr('class') == 'icon-plus' ) {
          stored += "-";
        }  else {
          stored += "+";
        }
      });
      localStorage.setItem('nav-state', stored);
    }
    $('ul.nav > li > a').prepend("<i class='icon-plus'></i>");

    // init state
    var stored = localStorage.getItem('nav-state');
    if ( stored ) {
      var data = stored.split("");
      $('ul.nav > li').each(function(i,e){
        if( data[i] == "+" ) {
          $(e).find(">ul").show();
          $(e).find("i").removeClass('icon-plus').addClass('icon-minus');
        } else {
          $(e).find(">ul").hide();
        }
      });
    } else {
      $('ul.nav ul.sub').hide();
    }
    $('ul.nav li.active ul.sub').show();
    $('ul.nav li.active i').removeClass('icon-plus').addClass('icon-minus');

    $('ul.nav i').click(function(){
      $this = $(this); 
      $this.toggleClass('icon-plus').toggleClass('icon-minus');
      $this.parent().next('ul').toggle();
      save_state();
      return false;
    });
  });
</script>
</body> 
</html>
